@{
    ViewData["Title"] = "About us";
}

<div style=" background-image: url(images/back.jpg);background-size: cover;">
    <br><br>
    <div class="admin_animal_block" style=" width: 1000px">
        <div style="height: 10px"></div>
        <a href="#" class="text-Literata" style="margin-left: 20px; font-size: 20px">@localizer["About us"]</a>
        <hr style="margin-top: 10px">

        <div style="width: 910px; margin-left: auto; margin-right: auto; ">
            <p class="text-Montserrat" style="font-size: 18px;">
                @localizer["'RBUkraine' is an online system that helps people learn about the animals of the Red Book of Ukraine, provides financial support to charitable organizations involved in the protection of animals of the Red Book of Ukraine, as well as allows you to view and buy goods for yourself (profits from these sales will go to the same organizations)."]<br>

                @localizer["Visitors to the web-platform will be able to get a description of this system, detailed information about animals assisted by charitable organizations, provide anonymous assistance to these organizations through online payment, and will be able to view products on the site and receive information about charitable events."]

                @localizer["By registering, users will be able to write comments on events, news about animals and products on the site, provide assistance to animal support organizations of the Red Book of Ukraine (in the form of charitable contributions or by purchasing goods), online payment, and purchase goods from the site. These users will be able to allow the system to add their name to the list of those who have made a charitable contribution through the RBUkraine site (this list will be displayed on a separate page of the site), as well as to receive or purchase invitations to charity events."]

                @localizer["As a thank you for caring for the animals, users who have made a significant charitable contribution will be able to receive a small gift."]<br><br>
        </div>
    </div>
    <br><br>
</div>

