@model RBUkraine.PL.ViewModels.Authentication.UserViewModel

@{
    ViewData["Title"] = "Profile";
}

@*<h1>Profile</h1>

<div>
    <h4>UserViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nickname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncludeInRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncludeInRating)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>*@

<div style="height: 800px; background-image: url(../images/pexels-pixabay-357140.jpg) ; background-size: cover; ">
    

    <div class="section" style="width: 1000px; height:592px; left: 330px;">
        <div class="row">
            <p class="my">
                @localizer["Personal office"]
            </p>
            <a asp-controller="Authentication" asp-action="Logout"><img src="~/icons/logout-icon.ico" alt="1" style="width: 28px; height: 33px; position:absolute; top:10px; right:10px;"></a>
        </div>
        <hr class="hr2">
        <div>
            <form asp-action="Profile">
                <p class="user-text_">
                    @localizer["User"]
                </p>
                <div class="row">
                    <p class="login-text">
                        @localizer["Login:"]
                    </p>
                    <p class="email-text_">
                        <input asp-for="Email" value="@Model.Email" readonly>
                    </p>

                </div>

                <div class="row">
                    <p class="name-text">
                        @localizer["Name"]:
                    </p>
                    <input asp-for="Nickname" type="name" name="Nickname" class="name-text_" required>
                    <div style="margin-top: 95px; margin-left: 815px;">
                        <button>
                            <img src="~/icons/save.png" style="width: 33.33px; height: 33.33px;" />
                        </button>
                    </div>


                </div>

                <input asp-for="IncludeInRating" type="checkbox" id="text_in" name="IncludeInRating">
                <label for="text_in" class="text_in" style="margin-left: 10px; margin-bottom: 10px;"> @localizer["Allow the name to be added to the list of benefactors"]</label>
            </form>
            <div class="row">
                <p class="sum-text">
                    @localizer["The amount of charitable contributions"]:
                </p>
                <div class="section_">
                    <p class="sum">
                        @Model.TotalDonationAmount
                    </p>
                </div>
            </div>
            <div class="row" style="margin-top: 225px;">
                <button type="submit" class="button1" style="width: 40%">@localizer["Basket"]</button>
                <button type="submit" class="button1" style="width: 45%">@localizer["Purchase history"]</button>
            </div>
        </div>

    </div>
</div>
