@model RBUkraine.PL.ViewModels.Authentication.RegisterViewModel

@{
    ViewData["Title"] = "Registration";
}

@*<h1 style="position: relative; left: 400px; ">Registration</h1>

    <hr />
    <div style="position: relative; left: 400px; ">
        <div class="col-md-4">
            <form asp-action="Registration">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" style="width: 540px;" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" style="width: 540px;" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" style="width: 540px;" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Register" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
*@
<div style="height: 800px; background-image: url(images/pexels-pixabay-357140.jpg); background-size: cover;">
    <div style=" margin-left:15%;">

        <div class="row" style="font-size: small;">
            <a href="#" class="black-text-Montserrat" style=" text-decoration: underline;margin-top: 60px; ">@localizer["Animals"]</a>
            <p class="black-text-Montserrat" style=" margin-top:60px; ">&ensp;&#10095;&ensp;</p>
            <a href="#" class="black-text-Montserrat" style=" text-decoration: underline;margin-top: 60px; ">@localizer["Personal office"]</a>
            <p class="black-text-Montserrat " style=" margin-top: 60px; ">&ensp;&#10095;&ensp;@localizer["Sign-in"]</p>
        </div>
    </div>

    <form asp-action="Login" asp-route-returnUrl="@ViewBag.ReturnUrl">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="section">
            <div class="main_table">
                <p class="in">
                    @localizer["Registration"]
                </p>
                <hr class="hr">
                <p class="email-text">
                    @localizer["Enter your email"]
                </p>
                <input asp-for="Email" type="email" name="email" class="email" required>
                <p class="password-text">
                    @localizer["Enter the password"]
                </p>
                <input asp-for="Password" type="password" name="password" class="password" required>
                <p class="remember-password"></p>
                <button type="submit" class="button_log_in" style="color:#FFFFFF; margin-top: 20px;  font-size: 20px; line-height: 30px; font-family: Literata; ">@localizer["Register"]</button>
                <a href="#"><p class="log_in-text1">@localizer["Login"]</p></a>
                <hr class="hr1">
                <p class="user-text1">
                    @localizer["Register as a user"]
                </p>
                <div class="g-signin2" data-onsuccess="onSignIn"></div>
            </div>

        </div>
    </form>
</div>

@section Scripts
{
    <script src="https://apis.google.com/js/platform.js"></script>
    <script src="~/scripts/google-login.js"></script>
}
