@model IEnumerable<RBUkraine.PL.ViewModels.CharitableOrganizations.CharitableOrganizationViewModel>

@{
    ViewData["Title"] = "GetAll";
}

<div class="row">
    <div>
        <button class="left-button">
            <br><br>@localizer["Make a charitable"]<br> @localizer["contribution"]
        </button>
    </div>
    <div style=" margin-left: 4%;">
    @foreach (var item in Model)
    {
        <div class="cf_block">
            <div class="row">
                <div style="width: 750px; margin-left: 35px; margin-top: 5px; margin-bottom: 5px">
                    <p class="red_Literata">@item.Name</p>
                    <hr class="hr_style_title">
                    <div class="row" style="margin-left: -2px; height: 40px; margin-top: -10px">
                        <input class="input_style" value="E-mail:" readonly>
                        <div style="width: 550px;">
                            <u class="black-text-Montserrat" style="margin-top: 9px;">
                                @item.Email
                            </u>
                        </div>
                    </div>
                    <hr class="hr_style">
                    <div class="row" style="height: 40px; margin-left: -2px; margin-top: -10px">
                        <input class="input_style" value="@localizer["Phone number"]:" readonly>
                        <div style="width: 550px;">
                            <p class="black-text-Montserrat" style="margin-top: 9px;">
                                @item.PhoneNumber
                            </p>
                        </div>
                    </div>
                    <hr class="hr_style">
                    <div class="row" style="height: 40px; margin-left: -2px; margin-top: -10px">
                        <input class="input_style" value="@localizer["Foundation date"]:" readonly>
                        <div style="width: 550px;">
                            <p class="black-text-Montserrat" style="margin-top: 9px;">
                                @item.FoundationDate
                            </p>
                        </div>
                    </div>
                    <hr class="hr_style">
                    <div class="row" style="height: 40px; margin-left: -2px; margin-top: -10px">
                        <input class="input_style" value="@localizer["Founders"]:" readonly>
                        <div style="width: 550px;">
                            <p class="black-text-Montserrat" style="margin-top: 9px;">
                                @item.Founders
                            </p>
                        </div>
                    </div>
                    <hr class="hr_style">
                    <div class="row" style="margin-left: -2px; margin-top: -10px">
                        <input class="input_style" style="margin-top: -10px" value="@localizer["Discription"]:" readonly>
                        <div style="width: 550px;">
                            <p class="black-text-Montserrat" style="margin-top: 9px;">
                                @item.Description
                            </p>
                        </div>
                    </div>

                </div>
                <div class="rect_cf">
                    <img src=@item.Image.Url style="width: 230px;  ">
                </div>
                <div class="center_content" style="margin-left: 20px; color: #7C0A02">
                    <button class="gradient-text_button">
                        &#10230;
                    </button>
                </div>
            </div>
        </div>
    }
    </div>
    </div>
