@model IEnumerable<RBUkraine.PL.ViewModels.CharitableOrganizations.CharitableOrganizationViewModel>

@{
    ViewData["Title"] = "GetAll";
}

<div class="row" style="margin-top: 60px">
    <div>
        <button class="left-button">
            <br><br>@localizer["Make a charitable"]<br> @localizer["contribution"]
        </button>
    </div>

    @foreach (var item in Model)
    {
        <section class="h">
            <div class="container4">

                <p class="protect">
                    @item.Name
                </p>
                <ul class="menu3">
                    
                    @foreach (var animal in item.Animals)
                    {
                        <li>
                                <a href="1.html">
                                    <img src="@animal.Image.Url" width="200px" height="200px" alt="1">
                                </a>
                            </li>
                            
                        
                        
                    }
                    <li>
                        <a asp-action="GetById" asp-route-id="@item.Id">
                            <div class="center_content" style="margin-left: 100px; color: #7C0A02">
                                <button class="gradient-text_button">
                                    &#10230;
                                </button>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    }

</div>