@model RBUkraine.PL.ViewModels.CharitableOrganizations.CharitableOrganizationListViewModel

@{
    ViewData["Title"] = "GetAllAdmin";
}
<div class="text-Literata" style="width: 99.99%;height: 40px;left: 0px; top: 0px; background: rgba(161, 158, 80, 0.6);">
    <div class="row">
        <a asp-controller="CharitableOrganizations" asp-action="GetAllAdmin" class="button_menu_active" style="width: 480px; margin-left: 18%; font-size: small">@localizer["Charitable foundations"]</a>
        <a asp-controller="VolunteerApplication" asp-action="GetAllAdmin" class="button_menu" style="width: 480px; font-size: small; color: #333 ">@localizer["Volunteer applications"]</a>
    </div>
</div>
<div style=" background-image: url(../images/3.jpg);">
    <br><br>
    <div class="admin_animal_block">
        <div class="row">
            <div style="width: 300px; margin-left: 15px">
                <div style="height: 70px">
                    <p class="bold-text-Literata" style=" margin-left: 19px; font-size: 22px"><br>@localizer["Charitable foundations"]</p>
                </div>
                <div style="background-color: #F0F0F0;  border-bottom-left-radius: 10px;border-bottom-right-radius: 10px">

                    <form method="get">
                        <div style="width: 270px; margin-left: auto; margin-right: auto">
                            <input hidden name="SearchOptions" value="@((int)Model.Filter.SearchOptions)" />
                            <input hidden name="Search" value="@Model.Filter.Search" />
                            <p class="text-Montserrat-light" style="font-size: 20px; font-weight: lighter; color: #484848;"><br>@localizer["Sort"]</p>
                            <p>
                                <select name="SortOptions" class="select_option">
                                    <option disabled>@localizer["Sort"]</option>
                                    <option selected="@(Model.Filter.SortOptions == CharitableOrganizationSortOptions.ByName)"
                                            value="@((int) CharitableOrganizationSortOptions.ByName)">
                                        @localizer["By name"]
                                    </option>
                                    <option selected="@(Model.Filter.SortOptions == CharitableOrganizationSortOptions.ByDate)"
                                            value="@((int) CharitableOrganizationSortOptions.ByDate)">
                                        @localizer["By foundation date"]
                                    </option>
                                </select>
                            </p>
                            <p>
                                <select name="SortDirection" class="select_option">
                                    <option selected="@(Model.Filter.SortDirection == SortDirection.Asc)"
                                            value="@((int) SortDirection.Asc)">
                                        @localizer["A-Z"]
                                    </option>
                                    <option selected="@(Model.Filter.SortDirection == SortDirection.Desc)"
                                            value="@((int) SortDirection.Desc)">
                                        @localizer["Z-A"]
                                    </option>
                                </select>
                            </p>
                            <hr style="border: 0.5px solid rgba(0, 0, 0, 0.5);">
                        </div>

                        <div style="text-align: center">
                            @*<button class="text-Montserrat-light" style="color: #944747; background-color: transparent; border-color: transparent">
                                @localizer["Cancel everything"] X
                            </button>*@
                            <button type="submit" class="button_table" style="color: #424242; font-weight: 100; font-family: Montserrat-Regular; margin-left: auto; margin-right: auto">
                                @localizer["Apply"]
                            </button>
                        </div>
                        <br>
                    </form>




                </div>
            </div>
            <div style=" margin-top: 60px">
                <div class="row">
                    <form method="get">
                        <input hidden name="SortDirection" value="@((int) Model.Filter.SortDirection)" />
                        <input hidden name="SortOptions" value="@((int) Model.Filter.SortOptions)" />
                        <span class="text-Montserrat" style="margin-left: 30px; font-size: 20px; margin-top: 15px">@localizer["Search for"]:</span>
                        
                        <select class="select_option" name="SearchOptions" style="width: 300px; margin-left: 20px">
                            <option disabled>@localizer["Search by"]</option>
                            <option selected="@(Model.Filter.SortOptions == CharitableOrganizationSortOptions.ByName)"
                                    value="@((int) CharitableOrganizationSortOptions.ByName)">
                                @localizer["By name"]
                            </option>
                            <option selected="@(Model.Filter.SortOptions == CharitableOrganizationSortOptions.ByDate)"
                                    value="@((int) CharitableOrganizationSortOptions.ByDate)">
                                @localizer["By foundation date"]
                            </option>
                        </select>
                        

                        <input class="select_option" type="text" name="search" value="@Model.Filter.Search" style="width: 600px; margin-left: 20px" />
                        <button style="margin-top: -20px; background-color: transparent; border-color: transparent; color: black">
                            <img src="~/images/search.png" width="35px" height="35px" alt="1">
                        </button>
                    </form>
                </div>

                <table class="animal_table" style="margin-left: 15px; background-color: #F8FCF2">
                    <thead style="font-weight: bold">
                    <td style="width: 200px">@localizer["Name"]</td>
                    <td style="width: 200px">@localizer["e-mail"]</td>
                    <td style="width: 200px">@localizer["Phone number"]</td>
                    <td style="width: 200px">@localizer["Foundation date"]</td>
                    <td style="width: 200px">@localizer["Founders"]</td>

                    <td style="width: 100px">Редагування</td>
                    </thead>
                    <tbody>
                        @foreach (var chOr in Model.CharitableOrganizations)
                        {
                            <tr>
                                <td>@chOr.Name</td>
                                <td>@chOr.Email</td>
                                <td>@chOr.PhoneNumber</td>
                                <td>@chOr.FoundationDate.ToString("d")</td>
                                <td>@chOr.Founders</td>
                                <td>
                                    <a asp-action="Update" asp-route-id="@chOr.Id" style="border-color: transparent; background-color: transparent">
                                        <img src="~/images/edit.png" width="27px" height="25px" alt="1">
                                    </a>
                                    <a onclick="confirmDeletionCharitableOrganizations(@chOr.Id, '@localizer["Are you sure you want to delete this record?"]', () => location.reload())"
                                       style="border-color: transparent; background-color: transparent">
                                        <img src="~/images/delete.png" width="27px" height="25px" alt="1">
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="row" style="margin-left: 40px;  width: 1000px">
                    <a asp-action="Create">
                        <button type="submit" style="border-color: transparent; background-color: transparent"><img src="~/images/plus.png" width="100px" height="50px" alt="1"></button>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <br><br>
</div>


@section Scripts
{
    <script src="~/scripts/delete-charitableOrganizations.js"></script>
}