@model RBUkraine.PL.ViewModels.CharitableOrganizations.CharitableOrganizationViewModel

@{
    ViewData["Title"] = "GetById";
}

<div class="charitable-organization-block">
    <div class="row" style="margin-top: 0px;">
        <div>
            <a asp-controller="Donation" asp-action="Donate">
                <button class="left-button">
                    <br><br>@localizer["Make a charitable"]<br> @localizer["contribution"]
                </button>
            </a>
        </div>
        <div style=" margin-left:1.5%; width: 1100px; margin-right: auto; ">

            
            <section class="h">
                <div class="container5">
                    <p class="protect1">
                        @Model.Name
                    </p>
                    <p class="kind">
                        @localizer["Species assisted by this foundation"]
                    </p>
                    <ul class="menu3">
                        @{
                            var items = Model.Animals.ToList();
                            int j = 0;
                            while (j < items.Count)
                            {
                                int t = Math.Min(5, items.Count - j);
                                <div class="row" style="margin-bottom: 10px;">
                                    @for (int i = 0; i < t; i++)
                                     {
                                        <li>
                                            <a asp-controller="Animals" asp-action="GetById" asp-route-id="@items[j].Id">
                                                <img src=@items[j].Image.Url style="border-radius: 5px;" width="200px" height="200px" alt="1">
                                            </a>
                                        </li>
                                        {
                                            j++;
                                        }
                                    }
                                 </div>
                            }
                        }
                    </ul>
                </div>
            </section>
        </div>


    </div>
</div>