@model RBUkraine.PL.ViewModels.CharitableOrganizations.CharitableOrganizationEditorViewModel

@{
    ViewData["Title"] = "Update";
}

@*<h1>Update</h1>

    <h4>CharitableOrganizationEditorViewModel</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Update">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Founders" class="control-label"></label>
                    <input asp-for="Founders" class="form-control" />
                    <span asp-validation-for="Founders" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Stockholders" class="control-label"></label>
                    <input asp-for="Stockholders" class="form-control" />
                    <span asp-validation-for="Stockholders" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FoundationDate" class="control-label"></label>
                    <input asp-for="FoundationDate" class="form-control" />
                    <span asp-validation-for="FoundationDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>*@

<div style="height: 700px; background-image: url(../images/3.jpg);">
    <br>
    <div class="admin_animal_block" style="height: 660px; width: 1200px; ">
        <div style="height: 10px"></div>
        <a href="#" class="text-Literata" style="margin-left: 20px; font-size: 18px">&#10094;&emsp;@localizer["Charitable foundations"]</a>
        <hr style="margin-top: 10px">
        <div class="row" style="margin-top: 10px; width: 1000px; height: 590px; margin-left: auto; margin-right: auto; border-radius: 15px; background-color: #F6F6E9">
            <div style="width: 220px; height: 590px;  border-bottom-left-radius: 15px; border-top-left-radius:15px; background-color: #E2E9DE">
                <div style="width: 160px; margin-left: auto; margin-right: auto; margin-top: 30px">
                    <p class="Arial" style="font-size: 18px">@localizer["Name"]:</p>
                    <hr style="margin-top: -10px;">
                    <p class="Arial" style="margin-top: -10px;font-size: 18px">@localizer["e-mail"]:</p>
                    <hr style="margin-top: -10px;">
                    <p class="Arial" style="margin-top: -10px;font-size: 18px">@localizer["Phone number"]:</p>
                    <hr style="margin-top: -10px;">
                    <p class="Arial" style="margin-top: -10px;font-size: 18px">@localizer["Foundation date"]:</p>
                    <hr style="margin-top: -10px;">
                    <p class="Arial" style="margin-top: -10px;font-size: 18px">@localizer["Founders"]:</p>
                    <hr style="margin-top: -10px;">
                    <p class="Arial" style="margin-top: -10px;font-size: 18px">@localizer["Logotype"]:</p>
                    <hr style="margin-top: -10px;">
                    <p class="Arial" style="margin-top: -10px;font-size: 18px">@localizer["Description"]:</p>

                </div>
            </div>
            <div style="font-family:Montserrat; width: 750px; height: 500px; margin-top: 23px; margin-left: auto; margin-right: auto;">
                <form style="margin-left:1%; margin-top: 1%;" asp-action="Update" enctype="multipart/form-data">
                    <input asp-for="Name" type="text" style="width: 100%; height: 35px; border-color: #d0d0d0; border-style: solid; border-width: 1px" value="@Model.Name">
                    <input asp-for="Email" type="email" style="margin-top: 5px; margin-bottom: 5px; width: 100%; height: 35px; border-color: #d0d0d0; border-style: solid; border-width: 1px line-height: 22px;text-decoration-line: underline;" value="@Model.Email">
                    <input asp-for="PhoneNumber" type="text" style="width: 100%; height: 35px; border-color: #d0d0d0; border-style: solid; border-width: 1px" value="@Model.PhoneNumber">
                    <input asp-for="FoundationDate" type="text" style="width: 100%; margin-top: 5px;height: 35px; border-color: #d0d0d0; border-style: solid; border-width: 1px" value="@Model.FoundationDate">
                    <input asp-for="Founders" type="text" style="width: 100%; margin-top: 5px;height: 35px; border-color: #d0d0d0; border-style: solid; border-width: 1px" value="@Model.Founders">
                    <div class="form-group row">
                        <div class="col-sm-12 custom-file" style="margin-top:1%;">
                            <input type="file" asp-for="File" multiple="multiple" />
                            <span asp-validation-for="File" class="text-danger"></span>
                        </div>
                    </div>
                    <textarea asp-for="Description" style=" width: 100%; height: 260px; max-height: 260px; min-height: 260px; text-align: start; border-color: #d0d0d0; border-style: solid; border-width: 1px">@Model.Description</textarea>
                    <button>
                        <img src="~/icons/save.png" style="width: 33.33px; height: 33.33px;" />
                    </button>

                </form>
            </div>
        </div>

    </div>


    <br>
    <br>

</div>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/scripts/edit-animal.js"></script>
    <script src="~/scripts/delete-charitableOrganizations.js"></script>
}
