@model RBUkraine.PL.ViewModels.News.NewsListViewModel

@{
    ViewData["Title"] = "GetAll";
}

<div class="row" style="background-image: url(../images/4.jpg);">
    <div>
        <a asp-controller="Donation" asp-action="Donate">
            <button class="left-button">
                <br><br>@localizer["Make a charitable"]<br> @localizer["contribution"]
            </button>
        </a>
    </div>
    <div style="background-color: transparent; border-color: transparent;">
        <div style="margin-left: 5%; background-color: transparent; border-color: transparent;">

            <input hidden name="SearchOptions" value="@((int)Model.Filter.SearchOptions)" />
            <input hidden name="Search" value="@Model.Filter.Search" />

            <div class="section_animal">
                <div class="row">
                    <form method="get">
                        <div class="row">
                            <p style="font-family: Montserrat; font-style: normal; font-weight: normal; font-size: 19px; line-height: 22px; color: #484848; margin-left: 63px; margin-top: 12px;">
                                @localizer["Sort"]:
                            </p>

                            <p>
                                <select name="SortDirection" class="select_option" style="width: 200px; margin-left:25px">
                                    <option selected="@(Model.Filter.SortDirection == SortDirection.Asc)"
                                            value="@((int) SortDirection.Asc)">
                                        @localizer["From old to new"]
                                    </option>
                                    <option selected="@(Model.Filter.SortDirection == SortDirection.Desc)"
                                            value="@((int) SortDirection.Desc)">
                                        @localizer["From new to old"]
                                    </option>
                                </select>
                            </p>

                            <button type="submit" class="button_table" style="background-color: #FFFFFF; width: 210px; color: #424242; font-weight: 100; font-family: Montserrat-Regular; margin-top: 6px; margin-left: 40px; margin-right: auto ">
                                @localizer["Apply"]
                            </button>
                        </div>
                    </form>
                </div>
                @foreach (var one_new in Model.News)
                {
                    <a asp-controller="News" asp-action="GetById" asp-route-id="@one_new.Id">
                        <button class="button_1" style="background-color: transparent; border-color: transparent;">
                            <div class="section_1">
                                <div class="center_content1">
                                    <p class="t1">
                                        @one_new.Title
                                    </p>

                                    <p class="t2">
                                        @one_new.PublishDate.ToString("d")
                                    </p>

                                </div>
                            </div>
                        </button>
                    </a>
                }
            </div>
        </div>
    </div>
</div>
