@model IEnumerable<RBUkraine.PL.ViewModels.News.NewsViewModel>

@{
    ViewData["Title"] = "GetAll";
}

<div class="row" style="background-image: url(../images/4.jpg);">
    <div>
        <a asp-controller="Donation" asp-action="Donate">
            <button class="left-button">
                <br><br>@localizer["Make a charitable"]<br> @localizer["contribution"]
            </button>
        </a>
    </div>
    <div style="background-color: transparent; border-color: transparent;">
        <div style="margin-left: 5%; background-color: transparent; border-color: transparent;">
            
            
            <div class="row">
                <p style="font-family: Montserrat; font-style: normal; font-weight: normal; font-size: 19px; line-height: 22px; color: #484848; margin-left: 63px; margin-top: 12px;">
                    @localizer["Search by"]:
                </p>
                <p>
                    <select class="select_option" style="width: 185px; margin-left: 10px">
                        <option disabled>@localizer["Search by"]</option>
                        <option selected value="name">@localizer["By Charitable Organization"]</option>
                        <option value="lat">@localizer["By species"]</option>
                        <option value="cf">@localizer["Other"]</option>
                    </select>
                </p>

                <p>
                    <select class="select_option" style="width: 320px; margin-left: 10px">
                        <option disabled>@localizer["Search by"]</option>
                        <option selected value="name">Ведмідь бурий</option>

                    </select>
                </p>
                <button style=" background-color: transparent; border-color: transparent; color: black; margin-bottom: 15px; "><img src="~/images/search.png" width="35px" height="35px" alt="1"></button>

                <p style="font-family: Montserrat; font-style: normal; font-weight: normal; font-size: 19px; line-height: 22px; color: #484848; margin-top: 12px;">
                    @localizer["Sort"]:
                </p>
                <p>
                    <select class="select_option" style="width: 196px; margin-left: 10px">
                        <option disabled>@localizer["Sort"]:</option>
                        <option selected value="name">@localizer["By species"]</option>

                    </select>
                </p>

                <p>
                    <select class="select_option" style="width: 76px; margin-left: 10px ">
                        <option disabled>@localizer["Sort"]:</option>
                        <option selected value="name">@localizer["A-Z"]</option>
                        <option selected value="name">@localizer["Z-A"]</option>

                    </select>
                </p>
            </div>
            <div class="section_animal">
                @foreach (var one_new in Model)
                {
                    <a asp-controller="News" asp-action="GetById" asp-route-id="@one_new.Id">
                        <button class="button_1" style="background-color: transparent; border-color: transparent;">
                            <div class="section_1">
                                <div class="center_content1">
                                    <p class="t1">
                                        @one_new.Title
                                    </p>

                                    <p class="t2">
                                        @one_new.PublishDate.ToString("g")
                                    </p>

                                </div>
                                <p class="t3">
                                    @one_new.ShortDescription
                                </p>
                            </div>
                        </button>
                    </a>
                }
            </div>
        </div>
    </div>
</div>
