@model RBUkraine.PL.ViewModels.News.NewsViewModel

@{
    ViewData["Title"] = "GetById";
}


<div class="row" style="background-image: url(../images/4.jpg); ">
    <div>
        <a asp-controller="Donation" asp-action="Donate">
            <button class="left-button">
                <br><br>@localizer["Make a charitable"]<br> @localizer["contribution"]
            </button>
        </a>
    </div>
    <div>
        <div style="margin-left: 5%">
            <div class="cf_block">
                <div class="row" style="font-size: small; margin-top: 40px; margin-left: 5px">
                    <a asp-controller="News" asp-action="GetAll" class="text-Literata" style="margin-left: 20px; font-size: 20px">&#10094;&emsp;@localizer["News"]</a>
                </div>
                <div style="width: 1170px; margin-left: 15px; margin-top: 5px; margin-bottom: 5px">
                    <p class="red_Literata" style="color: black">@Model.Title</p>

                    
                    <hr class="hr_style1" style="width: 1170px">
                    <div class="row" style=" margin-left: -2px; margin-top: -10px">
                        <input class="input_style3" value="@localizer["Brief description"]:" readonly>
                        <div style="width: 900px;">
                            <p class="text-Montserrat" style="margin-top: 9px;">
                                @Model.ShortDescription
                            </p>
                        </div>
                    </div>
                    <hr class="hr_style1" style="width: 1170px">
                    <div class="row" style="margin-left: -2px; margin-top: -10px">
                        <input class="input_style3" style=" margin-top: -10px" value="@localizer["Full description"]:" readonly>
                        <div style="width: 900px;">
                            <p class="text-Montserrat" style="margin-top: 9px;">
                                @Model.FullDescription
                            </p>
                        </div>
                    </div>
                    <div style="height:40px; text-align: right">
                        <p class="text-Montserrat" style="font-size: 15px;">
                            @Model.PublishDate.ToString("g")

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>