@model RBUkraine.PL.ViewModels.Animals.AnimalsListViewModel

@{
    ViewData["Title"] = "GetAll";
}

<h1>GetAll</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div>
    <form method="get">
        @*add rest params as hidden inputs*@
        <select name="AnimalsSearchOptions">
            <option selected="@(Model.Filter.AnimalsSearchOptions == AnimalsSearchOptions.BySpecious)"
                    value="@((int) AnimalsSearchOptions.BySpecious)">
                By Specious
            </option>
            <option selected="@(Model.Filter.AnimalsSearchOptions == AnimalsSearchOptions.ByLatinSpecious)"
                    value="@((int) AnimalsSearchOptions.ByLatinSpecious)">
                By Latin Specious
            </option>
            <option selected="@(Model.Filter.AnimalsSearchOptions == AnimalsSearchOptions.ByCharitableOrganization)"
                    value="@((int) AnimalsSearchOptions.ByCharitableOrganization)">
                By Charitable Organization
            </option>
        </select>
        <input type="text" name="search" value="@Model.Filter.Search" />
        <input type="submit" value="Search" />
    </form>
</div>
