@model RBUkraine.PL.ViewModels.Animals.AnimalViewModel

@{
    ViewData["Title"] = Model.Species;
}

<div class="row" style="margin-top: 60px">

    @if (User.IsInRole(Roles.User))
    {
        <div>
            <button class="left-button" >
                <br><br>@localizer["Make a charitable"]<br> @localizer["contribution"]
            </button>
        </div>
    }

    <div style="margin-top: 20px; margin-left:7%; width: 1100px; margin-right: auto; ">

    <div class="row" style="font-size: small">
        <a asp-controller="CharitableOrganizations" asp-action="GetAll" class="black-text-Montserrat" style="text-decoration: underline;">
            @localizer["Animals"]
        </a>
        <p class="black-text-Montserrat">&ensp;&#10095;&ensp;</p>
        <a asp-controller="CharitableOrganizations" asp-action="GetById" asp-route-id="@Model.CharitableOrganization.Id"
           class="black-text-Montserrat" style="text-decoration: underline;">
            @Model.CharitableOrganization.Name
        </a>
        <p class="black-text-Montserrat">&ensp;&#10095;&ensp;@Model.Species</p>
    </div>
    <div class="animal-block">
        <div class="row" style="width: 97%; margin-right: auto; margin-left: auto;">
            <div style="width: 30%; margin-top: 20px">
                <p><img src="@Model.Image.Url" style="width: 90%;border-radius: 10px;" alt="@Model.Image.Title"></p>
            </div>
            <div style="margin-top: 20px; margin-left: 5px; width: 60%;">
                <div class="row">
                    <h6 class="bold-text-Literata">Id:</h6>
                    <p class="text-Montserrat">@Model.Id</p>
                </div>
                <div class="row">
                    <h6 class="bold-text-Literata">@localizer["Species"]:</h6>
                    <p class="text-Montserrat">@Model.Species</p>
                </div>
                <h6 class="bold-text-Literata" style="margin-left: -15px">@localizer["Description"]:</h6>
                <p class="text-Montserrat" style="margin-left: -15px">
                    @Model.Description
                </p>

            </div>

        </div>
    </div>
    <div class="row"
         style="margin-top: 20px;  margin-right: auto; margin-left: -40px; font-family: 'Times New Roman';">
        <button type="submit"
                class="button" style="width: 55%">
            @localizer["Donate for the maintenance of this species"]
        </button>
        <button type="submit"
                class="button" style="width: 35%">
            @localizer["Donate to the BF"]
        </button>
    </div>
    <div class="news-block">
        <p class="bold-text-Literata" style=" margin-left: 30px;">@localizer["News"]</p>
        <div class="new-block">

            <div style="margin-left: 10px">
                <p class="title2">
                    Заголовок
                </p>
                <div style="float: right; margin-top: -45px">
                    <p style=" margin-right: 20px; font-size: small; color: dimgrey">01.01.21</p>
                </div>
                <p class="text-Montserrat-light" style="margin-top: -20px">
                    sssssssssssss s sss ss sss ssss ssss s sssssss s s s ss sss sssssssssssss s ss.
                </p>
            </div>
        </div>


        <button style="margin-left: 48%; height: 50px; width: 30px; border-color: transparent; background-color: transparent; font-size: xx-large; font-weight: bold">
            &#8595;
        </button>


    </div>
</div>
</div>