@model RBUkraine.PL.ViewModels.Animals.AnimalEditorViewModel

@{
    ViewData["Title"] = "Update";
}

<div style="height: 1000px; background-image: url(@Model.Image.Url);">
    <br><br>
    <div class="admin_animal_block" style="height:935px; border-radius: 25px">
        <div style="height: 70px">
            <p class="bold-text-Literata" style=" margin-left: 19px; font-size: 22px"><br>&ensp;&#10094;&ensp;@localizer["Animals"]</p>
        </div>
        <hr />


        <div style="margin-left: 5%; margin-right: 5%;">
            <div class="row" style="background-color:#F6F6E9; border-radius: 25px">
                <div style="background-color: #CEDBC9; border-radius: 25px 0px 0px 25px" class="col-sm-3">
                    <label for="input1" class="col-form-label" style="margin-bottom:-5%; margin-top: 5%; margin-left: 8%;">@localizer["Species"]</label>
                    <hr />
                    <label for="input2" class="col-form-label" style="margin-bottom:-5%; margin-top:-5%; margin-left: 8%;">@localizer["Latin Species"]</label>
                    <hr />
                    <label for="input3" class="col-form-label" style="margin-bottom:-5%; margin-top:-5%; margin-left: 8%;">@localizer["Conservation Status"]</label>
                    <hr />
                    <label for="input4" class="col-form-label" style="margin-bottom:-5%; margin-top:-5%; margin-left: 8%;">@localizer["Population"]</label>
                    <hr />
                    <label for="input4" class="col-form-label" style="margin-bottom:-5%; margin-top:-5%; margin-left: 8%;">@localizer["Kingdom"]</label>
                    <hr />
                    <label for="input4" class="col-form-label" style="margin-bottom:-5%; margin-top:-5%; margin-left: 8%;">@localizer["Phylum"]</label>
                    <hr />
                    <label for="input4" class="col-form-label" style="margin-bottom:-5%; margin-top:-5%; margin-left: 8%;">@localizer["Class"]</label>
                    <hr />
                    <label for="input4" class="col-form-label" style="margin-bottom:-5%; margin-top:-5%; margin-left: 8%;">@localizer["Family"]</label>
                    <hr />
                    <label for="input4" class="col-form-label" style="margin-bottom:-5%; margin-top:-5%; margin-left: 8%;">@localizer["Genus"]</label>
                    <hr />
                    <label for="input4" class="col-form-label" style="margin-bottom:-5%; margin-top:-5%; margin-left: 8%;">@localizer["Description"]</label>
                    <hr />

                </div>
                <form style="margin-left:1%; margin-top: 1%;">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input asp-for="Species" type="text" class="form-control" id="input1" placeholder=@Model.Species style="width: 550px;">
                        </div>
                    </div>
                    <div class="form-group row">

                        <div class="col-sm-12">
                            <input asp-for="LatinSpecies" type="text" class="form-control" id="input2" placeholder="@Model.LatinSpecies">
                        </div>
                    </div>
                    <div class="form-group row">

                        <div class="col-sm-5" style="margin-top:3%;">
                            <select asp-for="ConservationStatus" id="input3" class="col-sm-10">
                                <option value="ex" selected="@(@Model.ConservationStatus == "ex")">EX</option>
                                <option value="ew" selected="@(@Model.ConservationStatus == "ew")">EW</option>
                                <option value="cr" selected="@(@Model.ConservationStatus == "cr")">CR</option>
                                <option value="en" selected="@(@Model.ConservationStatus == "en")">EN</option>
                                <option value="vu" selected="@(@Model.ConservationStatus == "vu")">VU</option>
                                <option value="nt" selected="@(@Model.ConservationStatus == "nt")">NT</option>
                                <option value="lc" selected="@(@Model.ConservationStatus == "lc")">LC</option>
                            </select>
                        </div>
                        <div class="col-sm-5" style="margin-top:-4%;">
                            <img src="~/images/6.png" alt="1" width="290px" />
                        </div>
                    </div>
                    <div class="form-group row" style="margin-top:-2%;">
                        <div class="col-sm-12">
                            <input asp-for="Population" type="number" class="form-control" id="input4">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input asp-for="Kingdom" type="text" class="form-control" id="input4" placeholder=@Model.Kingdom>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input asp-for="Phylum" type="text" class="form-control" id="input4" placeholder=@Model.Phylum>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12" style="margin-top:1%;">
                            <input asp-for="Class" type="text" class="form-control" id="input4" placeholder=@Model.Class>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input asp-for="Family" type="text" class="form-control" id="input4" placeholder=@Model.Family>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12" style="margin-top: 1%;">
                            <input asp-for="Genus" type="text" class="form-control" id="input4" placeholder=@Model.Genus>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12" style="margin-top:1%;">
                            <input asp-for="Description" type="text" class="form-control" id="input4" placeholder=@Model.Description>
                        </div>
                    </div>
                </form>
                <div style="margin-left: 5%; margin-top:2%;">
                    <img src=@Model.Image.Url style="width:300px; height: 300px; border-radius: 10px" />
                    <br />
                    <center>
                        @localizer["Image format"] 200х200 px
                        <br />
                        <img src="~/images/edit.png" width="27px" height="25px" alt="1">
                        <img src="~/images/delete.png" width="27px" height="25px" alt="1">
                    </center>
                </div>
            </div>
            <div class="row" style="margin-top:3%;">
                <div class="col-md-4"></div>

                <div class="col-md-4" style="text-align: center;">&ensp;&#10094;&ensp; 1, 2, 3 ... 8 &ensp;&#10095;&ensp;</div>
                <div class="col-md-4" style="text-align: center;">
                    <img src="~/icons/add.png" style="width:33.33; height: 33.33px;" />
                    <img src="~/icons/save.png" style="width:33.33px; height: 33.33px;" />
                    <img src="~/images/delete.png" style="width:33.33px; height: 33.33px;" />
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
